<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Document</title>
</head>

<body>
    <h1>Scores</h1>

    <form action="/scores/update" method="POST">
                
        <input type="submit" value="Update Scores">
        <table>
            <thead>
                <th></th>
                <% topics.forEach(topic=> { %>
                    <th class="" scope="col">
                        <div><span>
                            <%= topic.name %>
                        </span></div>
                    </th>
                <% }); %>
            </thead>
            <tbody>
                <% students.forEach((student, i) => { %>
                    <tr>
                        <td class="student-cell right">
                            <%= student.last_name %>, <%= student.first_name[0] %>, <%= student.id %>
                        </td>

                        <% topics.forEach(topic=> { %>
                            <td class="score-cell center">
                                <% these_points='' ; %>
                                <% const this_score=scores.find(score=> {return score.student_id === student.id && score.topic_id === topic.id}) %>
                                <% if (this_score) { these_points=this_score.points} %>
                                    
                                <input class="score-input" type="text" name="score_<%= student.id %>_<%= topic.id %>" id="score[<%= student.id %>][<%= topic.id %>]" value="<%= these_points %>">
                                
                            </td>
                        <% }); %>
                    </tr>
                    <% }) %>
            </tbody>


        </table>
        <input type="submit" value="Update Scores">
    </form>

    <p><%= students.length %> Students</p>

    <%- include('partials/desk_consultants_link.html') %>
    <%- include('partials/students_link.html') %>
    <%- include('partials/home_link.html') %>


</body>

</html>